

.button{
  border: 0;
  border-radius: 8px;
  font-smooth: bold;
  padding: 20px;
  margin-right: 5px;
}
.btn-blue{
  background-color:rgb(189, 214, 45);
  color: rgb(12, 12, 12);
}
body {
  height: 400px;
  background-image: url(https://images.alphacoders.com/121/thumbbig-1218911.webp);
background-size: cover;
  background-repeat:no-repeat;
  background-position: center center;
}