.container{

    
    background-color: rgb(35, 18, 190);
    color: rgb(21, 165, 209);
    border-bottom: solid 5px rgb(212, 20, 20);
    padding: 10px;
    margin: 0 auto;
   
}


  

